.container {
  position: relative;
  background-color: #090B13;
  padding: 2.25rem 1rem 1.65rem;
}

.LogoFooter {
  display: flex;
  justify-content: center;
}

.ulStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35rem;
}

.firstRow,
.secondRow {
  flex-direction: row;
  display: flex;
  gap: 1.25rem;
}

.liStyle {
  list-style: none;
}

.linkStyle {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.125rem;
  word-wrap: break-word;
  text-decoration: none;
}

.linkStyle:hover {
  text-decoration: underline;
}

.richText {
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.richText h3 {
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  word-wrap: break-word;
  text-align: center;
}

.richTextDisney {
  display: flex;
  justify-content: center;
}

.richTextDisney h3 {
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  word-wrap: break-word
}

@media (min-width: 769px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ulStyle {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    margin: 2.25rem 0;
  }

  .richText {
    max-width: 28.5rem;
  }
}