.container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #101116;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.contentsearchBar {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchInput {
  border: none;
  height: 3rem;
  background-color: transparent;
  max-width: 3.35rem;
}

.searchInput:focus-visible {
  outline: none;
}

.searchInput::placeholder {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Work Sans;
  font-weight: 500;
  word-wrap: break-word
}

.menuList {
  list-style: none;
}

.listItemLink {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Work Sans;
  font-weight: 500;
  word-wrap: break-word;
  text-decoration: none;
}

.listItemLink:hover {
  color: #02E7F5;
}

.List {
  align-items: center;
  gap: 0.5rem;
  display: flex;
}

.List:hover {
  filter: brightness(0) saturate(100%) invert(89%) sepia(100%) saturate(7467%) hue-rotate(99deg) brightness(101%) contrast(101%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.listItem {
  margin: 0;
  padding: 0.5rem 1rem;
  width: 33.33%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}

.listItem:hover {
  filter: brightness(0) saturate(100%) invert(89%) sepia(100%) saturate(7467%) hue-rotate(99deg) brightness(101%) contrast(101%);
}

.navLink {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  word-wrap: break-word;
  text-decoration: none;
}

.centered {
  width: 100%;
  text-align: center;
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .searchBar {
    order: 2;
  }

  .wrapper {
    order: 1;
  }

  .searchBar {
    justify-content: end;
    gap: 1rem;
    display: flex;
  }

  .navigationList {
    flex-direction: row;
    flex-wrap: initial;
  }

}