.container {
  padding: 3.75rem 1rem 0;
  position: relative;
}

.section {
  height: 650px;
}

.content {
  padding-bottom: 2rem;
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  height: 414px;
}

.content h2 {
  color: #f9f9f9;
  font-size: 44px;
  font-weight: 700;
  word-wrap: break-word;
}

.content h5 {
  color: #f9f9f9;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 212px;
}

.tituloCarousel {
  color: #f9f9f9;
  font-size: 20px;
  font-family: Work Sans;
  font-weight: 700;
  word-wrap: break-word;
  background: #1a1d29 100%;
  padding: 16px;
  margin: -1px;
}

.richTextTime {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.richTextGenero {
  color: #f9f9f9;
  font-size: 12px;
  font-weight: 400;
  word-wrap: break-word;
}

.containerButton {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.contentButton {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.btnVerMais {
  max-width: 194px;
  height: 48px;
  color: #1a1d29;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.24px;
  word-wrap: break-word;
  padding: 0px 24px 0px 24px;
  border-radius: 0.25rem;
  border: none;
  font-family: Work Sans;
  padding: 0 24px;
}

.btnInfo {
  max-width: 281px;
  height: 48px;
  color: white;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.24px;
  word-wrap: break-word;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 0.25rem;
  padding: 0 24px;
}

.containerIcon {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.episodes {
  display: flex;
  width: 398px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;
  background: #1a1d29 100%;
}

.episodeCard {
  display: flex;
  width: 193px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.10);
}

.episodeCover {
  display: flex;
  width: 193px;
  height: 128px;
  justify-content: center;
  align-items: center;
}

.episodeInformation {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.episodeCard img {
  width: 193px;
  height: 128px;
  flex-shrink: 0;
}

.episodeCard:hover {
  background: rgba(255, 255, 255, 0.20);
}

.episodeCard h3 {
  color: var(--text-high-emphasis, #F9F9F9);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}

.episodeCard p {
  color: var(--text-medium-emphasis, #C8C9CB);
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}


/* DESKTOP  */
@media (min-width: 769px) {
  .container {
    margin-left: 80px;
  }
  .content {
    max-width: 719px;
    width: 100%;
    height: 272px;
  }

  .containerButton {
    flex-direction: row;
    display: flex;
    align-items: center;
    max-width: 719px;
    width: 100%;
  }

  .contentButton {
    flex-direction: row;
    display: flex;
    align-items: center;
  }
}

