.botao {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.76px;
  text-transform: uppercase;

  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border: none;
  max-width: 334px;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  background: var(--primary-300, #037aeb);
}
