.card {
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgba(53, 56, 67, 0.01);

  background: rgba(53, 56, 67, 0.79);

  max-width: 783px;
  height: 447px;
  width: 100%;

  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(7.8px);

  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
