.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 100%;
  object-fit: cover;
}

.contentBtn {
  display: flex;
  justify-content: center;
}

.convidado {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.convidado span {
  color: #fff;
}

.titulo h1 {
  color: var(--text-high-emphasis, #f9f9f9);
  font-family: Work Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.texto p {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* DESKTOP  */
@media (min-width: 769px) {
  .compassLogo img {
    max-width: 330px;
  }
}
